@model ProjectAkhirPAW.Models.Membayar

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Membayar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTransaksi" />
            <div class="form-group">
                <label asp-for="NotaPembayaran" class="control-label"></label>
                <input asp-for="NotaPembayaran" class="form-control" />
                <span asp-validation-for="NotaPembayaran" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKasir" class="control-label"></label>
                <select asp-for="IdKasir" class="form-control" asp-items="ViewBag.IdKasir"></select>
                <span asp-validation-for="IdKasir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPelanggan" class="control-label"></label>
                <select asp-for="IdPelanggan" class="form-control" asp-items="ViewBag.IdPelanggan"></select>
                <span asp-validation-for="IdPelanggan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
